*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',Tahoma,Geneva,Verdana,sans-serif;
}

body{
    background:#f4f6fb;
    color:#222;
}

a{
    text-decoration:none;
}

button{
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    transform:scale(1.03);
}