.login-page{

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    background:var(--background);

}

.login-card{

    width:470px;

    background:white;

    border-radius:24px;

    padding:50px;

    box-shadow:var(--shadow);

}

.logo{

    text-align:center;

    margin-bottom:35px;

}

.logo h1{

    color:var(--primary-dark);

    font-size:42px;

    font-weight:700;

}

.logo p{

    margin-top:8px;

    color:var(--text-light);

}

.form-group{

    margin-bottom:22px;

}

.form-group label{

    display:block;

    margin-bottom:10px;

    font-weight:600;

}

.form-group input{

    width:100%;

    padding:16px;

    border-radius:14px;

    border:1px solid var(--border);

    background:#FCFCFC;

    font-size:15px;

    transition:.3s;

}

.form-group input:focus{

    outline:none;

    border-color:var(--gold);

    box-shadow:0 0 0 4px rgba(201,162,39,.18);

}

.login-btn{

    width:100%;

    margin-top:10px;

    padding:16px;

    border:none;

    border-radius:14px;

    background:var(--primary);

    color:white;

    font-size:16px;

    font-weight:600;

    transition:.3s;

}

.login-btn:hover{

    background:var(--primary-dark);

    transform:translateY(-2px);

}